{#
https://github.com/ninsuo/symfony-collection
http://symfony-collection.fuz.org/basic

bower install symfony-collection#master -add
#}

{% block collection_widget %}
	{% spaceless %}
		{% if prototype is defined %}
			{% set attr = attr|merge({'data-prototype': block('collection_prototype') }) %}
		{% endif %}
		{% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
		{% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
		{% set attr = attr|merge({'data-name-prefix': full_name}) %}
		{% for child in form.children %}
			<div {{ block('widget_container_attributes') }}>
				{%- if form.parent is empty -%}
					{{ form_errors(form) }}
				{%- endif -%}
				<div id={{ child.vars.id }}>
					{% for row in child %}
						{{ form_row(row) }}
					{% endfor %}
					{% if prototype is defined %}
						{{ block('collection_options') }}
					{% else %}
						<br>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	{% endspaceless %}
{% endblock collection_widget %}

{% block collection_prototype %}
	{% spaceless %}
		<div id={{ prototype.vars.id }}>
			{% for row in prototype %}
				{{ form_row(row) }}
			{% endfor %}
			{{ block('collection_options') }}
		</div>
	{% endspaceless %}
{% endblock %}

{% block collection_options %}
	{% spaceless %}
		<div class="form-group">
			<div class="{{ block('form_label_class') }}"></div>
			<div class="{{ block('form_group_class') }} collection-actions">
				<ul class="nav nav-pills nav-horizontal small">
					<li><a class="collection-add collection-action" href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a></li>
					<li><a class="collection-remove collection-action" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a></li>
					<li><a class="collection-up collection-action" href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Up</a></li>
					<li><a class="collection-down collection-action" href="#"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Down</a></li>
					<li><a class="collection-duplicate collection-action" href="#"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Duplicate</a></li>
				</ul>
				{#<hr style="margin:10px 0 0 0">#}
			</div>
		</div>
	{% endspaceless %}
{% endblock %}