<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{#<meta name="viewport" content="width=device-width, initial-scale=1">#}

	{#<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">#}

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<meta name="application-name" content="sarasoft">

	<meta name="author" content="Ricardo Saracino">

	<meta name="description" content="sarasoft">

	<title>{% block title %}Sarasoft{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

	{% stylesheets '@bootstrap_css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
	{% endstylesheets %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"/>
	{% endblock %}

	<style>
		nav.navbar-fixed-top + .container {
			margin-top: 30px;
		}

		.table > tbody > tr > td {
			vertical-align: middle;
		}

		/* START */
		div.table .row {
			margin: 0;
			padding: 8px 0 8px 0;
			line-height: 1.42857143;
			vertical-align: top;
			border-top: 1px solid #ddd;
		}

		div.table .row div {
			padding: 0 8px 0 8px;
		}

		div.table .row > div:first-child {
			font-weight: bold;
		}
		/* END */
	</style>
</head>
<body>
{% block body %}{% endblock %}

{% javascripts '@jquery' '@bootstrap_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}
	{#<script type="text/javascript" src="{{ asset('assets/vendor/jquery-ui/jquery-ui.js') }}"></script>  Sortable for collections #}
	<script type="text/javascript" src="{{ asset('assets/vendor/symfony-collection/jquery.collection.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
	<script>
		{# http://eonasdan.github.io/bootstrap-datetimepicker/Options/ #}
		$(document).ready(function () {
			{#$('.js-datepicker').datetimepicker({
				format: "MM/DD/YYYY"
			}); #}

			$('.js-datetimepicker').datetimepicker({
				format: "MM/DD/YYYY hh:mm A",
				showClose: true,
				stepping: 5
			});
		});

		$('.js-collection').collection({
			min: 1,
			allow_duplicate: true,
			drag_drop: false {# sortable #}
		});
	</script>
{% endblock %}
</body>
</html>
