<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">SaraSoft</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li {% if app.request.get('_route') == 'welcome' %}class="active"{% endif %}>
					<a href="{{ path('welcome') }}"><span class="glyphicon glyphicon-home" aria-hidden="true" aria-label="Home"></span></a>
				</li>
				<li><a href="{{ path('calendar_index') }}"><span class="glyphicon glyphicon-calendar" aria-hidden="true" aria-label="Calendar"></span></a></li>
				<li><a href="{{ path('customer_index') }}"><span class="glyphicon glyphicon-user" aria-hidden="true" aria-label="Customers"></span> Customers</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('customer_order_list_all') }}">All</a></li>
						<li><a href="{{ path('customer_order_list_booked') }}">Booked</a></li>
						<li><a href="{{ path('customer_order_list_inprogress') }}">In Progress</a></li>
						<li><a href="{{ path('customer_order_list_complete') }}">Complete</a></li>
						<li><a href="{{ path('customer_order_list_all') }}">Invoiced</a></li>
						<li><a href="{{ path('customer_order_list_all') }}">Paid</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('company_index') }}">Companies</a></li>
						<li><a href="{{ path('product_index') }}">Products</a></li>
						<li><a href="{{ path('referral_index') }}">Referrals</a></li>
						<li><a href="{{ path('service_index') }}">Services</a></li>
						<li><a href="{{ path('user_index') }}">Users</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">{{ app.user.firstName }} {{ app.user.lastName }}</li>
						<li><a href="{{ path('user_edit',{'id': app.user.id}) }}">Account</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{ logout_url() }}">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
