<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Support</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="font-family: Arial">
<center>
	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
		<tr>
			<td align="center" valign="top" style="padding-top:20px;">
				<table border="0" cellpadding="0" cellspacing="10px" width="600">
					<tr>
						<td width="50px"><strong>Date:</strong></td><td>{{ support.date|date }}</td>
					</tr>
					<tr>
						<td width="50px"><strong>User:</strong></td><td>{{ support.user.fullName }}</td>
					</tr>
					<tr>
						<td width="50px"><strong>User:</strong></td><td>{{ support.user.email }}</td>
					</tr>
					<tr>
						<td><strong>Version:</strong></td><td>{{ support.version }}</td>
					</tr>
					<tr>
						<td><strong>Subject:</strong></td><td>{{ support.subject }}</td>
					</tr>
					<tr>
						<td colspan="2" style="padding: 5px">{{ support.message }}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>
</body>
</html>