{% extends 'base.html.twig' %}

{% import 'nav.html.twig' as nav %}

{% block title %}Referrals{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}

	<div class="container">

		<div class="page-header">
			<h1>Referrals</h1>
		</div>

		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for referral in referrals %}
					<tr>
						<td>{{ referral.name }}</td>
						<td>{{ referral.createdAt|user_datetime }}</td>
						<td>
							<ul class="nav nav-pills">
								<li>
									<a href="{{ path('referral_show', { 'id': referral.id }) }}">show</a>
								</li>
								<li>
									<a href="{{ path('referral_edit', { 'id': referral.id }) }}">edit</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="{{ path('referral_new') }}">New Referral</a>
			</li>
		</ul>
	</div>
{% endblock %}