{% extends 'page.html.twig' %}

{% import 'nav.html.twig' as nav %}
{% import 'table.html.twig' as table %}

{% block title %}Referral{% endblock %}

{% block header %}<h1>Referral</h1>{% endblock %}

{% block main %}
	{{ table.start }}
	{{ table.row('referral.label.name', referral.name) }}
	{{ table.row_created(referral) }}
	{{ table.row_updated(referral) }}
	{{ table.end }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List Referrals', path('referral_index')) }}
	{{ nav.item('Edit Referral', path('referral_edit', { 'id': referral.id })) }}
	{{ nav.item('New Referral', path('referral_new')) }}
	{{ nav.end }}
{% endblock %}


