{% extends 'page.html.twig' %}

{% block title %}Product{% endblock %}

{% block header %}<h1>Product</h1>{% endblock %}

{% block main %}
	{{ table.start }}
	{{ table.row('product.label.name', product.name) }}
	{{ table.row('product.label.description', product.description) }}
	{{ table.row_created(product) }}
	{{ table.row_updated(product) }}
	{{ table.end }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List Products', path('product_index')) }}
	{{ nav.item('Edit Product', path('product_edit', { 'id': product.id })) }}
	{{ nav.item('New Product', path('product_new')) }}
	{{ nav.end }}
{% endblock %}


