{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}

	<div class="container">

		<div class="page-header">
			<h1>Edit User</h1>
		</div>

		<div class="row">
			<div class="col-sm-9" role="main">
				{{ form_start(edit_form) }}

				{{ form_widget(edit_form) }}

				{{ form_end(edit_form) }}
			</div>
			<div class="col-sm-3" role="complimentary">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="{{ path('user_change_password', {'id':user.id}) }}">Change Password</a>
					</li>
					<li>
						<a href="{{ path('user_index') }}">Back to the list</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}