{% extends 'page.html.twig' %}

{% block title %}New User{% endblock %}

{% block header %}<h1>New User</h1>{% endblock %}

{% block main %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete':'off' }}) }}
	{{ form_widget(form) }}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" class="btn btn-default" value="Save">
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
		{{ nav.item('List Users', path('user_index')) }}
	{{ nav.end }}
{% endblock %}