{% extends 'page.html.twig' %}

{% import 'nav.html.twig' as nav %}
{% import 'table.html.twig' as table %}

{% block title %}User{% endblock %}

{% block header %}<h1>User</h1>{% endblock %}

{% block main %}
	{{ table.start }}
	{{ table.row('user.label.username', user.username) }}

	{{ table.row('user.label.firstName', user.firstName) }}

	{{ table.row('user.label.lastName', user.lastName) }}

	{{ table.row_email('user.label.email', user.email) }}

	{{ table.row('user.label.language', user.language|language) }}

	{{ table.row('user.label.timeZone', user.timeZone) }}

	{{ table.row('user.label.roles', user.roles|join(', ')) }}

	{{ table.row_created(user) }}

	{{ table.row_updated(user) }}
	{{ table.end }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('Change Password', path('user_change_password', {'id':user.id})) }}
	{{ nav.item('List Users', path('user_index')) }}
	{{ nav.item('Edit User', path('user_edit', { 'id': user.id })) }}
	{{ nav.item('New User', path('user_new')) }}
	{{ nav.end }}
{% endblock %}