{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}

	<div class="container">

		<div class="page-header">
			<h1>User</h1>
		</div>

		<div class="col-sm-9">
			<table class="table">
				<tbody>
				<tr>
					<th>Username</th>
					<td>{{ user.username }}</td>
				</tr>
				<tr>
					<th>First name</th>
					<td>{{ user.firstName }}</td>
				</tr>
				<tr>
					<th>Last name</th>
					<td>{{ user.lastName }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Language</th>
					<td>{{ user.languageName }}</td>
				</tr>
				<tr>
					<th>Time zone</th>
					<td>{{ user.timeZone }}</td>
				</tr>
				<tr>
					<th>Created</th>
					<td>{{ user.createdAt|user_date }}</td>
				</tr>
				<tr>
					<th>Updated</th>
					<td>{{ user.updatedAt|user_date }}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="{{ path('user_index') }}">Back to the list</a>
				</li>
				<li>
					<a href="{{ path('user_edit', { 'id': user.id }) }}">Edit user</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
