{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.css') }}"/>

	<style>
		.loader {
			border: 16px solid #f3f3f3; /* Light grey */
			border-top: 16px solid #3498db; /* Blue */
			border-radius: 50%;
			width: 120px;
			height: 120px;
			animation: spin 2s linear infinite;

			background-color: #A0A0A0;
			opacity: .9;

			/* centered */
			position: fixed; /* or absolute */
			top: 50%;
			left: 50%;
			z-index: 100;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.js') }}"></script>

	<script type="text/javascript">
		{# override default to add env <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"> </script> #}

		$(function () {
			$('#calendar-holder').fullCalendar({
				header: {
					left: 'prev, next',
					center: 'title',
					right: 'month, basicWeek, basicDay,'
				},
				lazyFetching: true,
				timeFormat: {
					agenda: 'h:mmt',
					'': 'h:mmt'
				},
				loading: function (isLoading) {
					if (isLoading) {// isLoading gives boolean value
						$('body').append('<div class="loader" id="loader"></div>');
						console.log('loading');
					} else {
						$('#loader').remove();
						console.log('loaded');
					}
				},
				eventSources: [
					{
						url: '{{ app.environment == 'dev' ? '/app_dev.php' : '/app.php' }}/full-calendar/load', // todo fix this
						type: 'GET',   // post wasnt working in production
						data: {
						},
						error: function () {
						}
					}
				],

				eventRender: function (event, element, view) {
					//console.log(event);
					//console.log(element);
					//console.log(view);

					$(element).prop('title', event.notes);

					$(element).find('.fc-title').html(event.statusName + ' - ' + event.orderTypeName + '<br>' + event.customerName);
				}

			});
		});
	</script>
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			<h1>Calendar</h1>
		</div>
		{% include '@FullCalendar/Calendar/calendar.html.twig' %}
	</div>

{% endblock %}