{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			{%- block header %}{% endblock -%}
		</div>
		<div class="row">
			<div class="col-sm-9" role="main">
				{% for flash_message in app.session.flashBag.get('success') %}
					<div class="alert alert-success">
						{{ flash_message }}
					</div>
				{% endfor %}
				{% for flash_message in app.session.flashBag.get('info') %}
					<div class="alert alert-info">
						{{ flash_message }}
					</div>
				{% endfor %}
				{% for flash_message in app.session.flashBag.get('warning') %}
					<div class="alert alert-warning">
						{{ flash_message }}
					</div>
				{% endfor %}
				{% for flash_message in app.session.flashBag.get('danger') %}
					<div class="alert alert-danger">
						{{ flash_message }}
					</div>
				{% endfor %}
				{% block main %}{% endblock %}
			</div>
			<div class="col-sm-3" role="complimentary">
				{% block complimentary %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}