{% macro start() %}<div class="table">{% endmacro %}

{% macro end() %}</div>{% endmacro %}

{% macro row_title(label) %}
	{% spaceless %}
		<div class="row" style="border:none;">
			<div class="col-sm-12"><h3 style="margin: 0">{{ label|trans }}</h3></div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row(label, data) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">{{ label|trans }}</div>
			<div class="col-sm-10">{{ data }}</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_email(label, email) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">{{ label|trans }}</div>
			<div class="col-sm-10">{% if email %}<a href="mailto:{{ email }}">{{ email }}</a>{% endif %}</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_url(label, url) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">{{ label|trans }}</div>
			<div class="col-sm-10">{% if url %}<a href="{{ url }}">{{ url }}</a>{% endif %}</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_phone(label, phone) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">{{ label|trans }}</div>
			<div class="col-sm-10">{% if phone %}<a href="{{ phone_number_format(phone,'RFC3966') }}">{{ phone_number_format(phone) }}</a>{% endif %}</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_user_date(label, datetime) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">{{ label|trans }}</div>
			<div class="col-sm-10">{% if datetime %}{{ datetime|user_date }}{% endif %}</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_user_datetime(label, datetime) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">{{ label|trans }}</div>
			<div class="col-sm-10">{% if datetime %}{{ datetime|user_datetime }}{% endif %}</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_money(label, price) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">{{ label|trans }}</div>
			<div class="col-sm-10">{% if price %}{{ price|money_localized_format }}{% endif %}</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_scrollable(label, data) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">{{ label|trans }}</div>
			<div class="col-sm-10">
				<div style="max-height: 95px; margin: 0" class="well well-sm pre-scrollable">{{ data|nl2br }}</div>
			</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_created(entity) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">Created</div>
			<div class="col-sm-10">{{ entity.createdAt|user_datetime }}{% if entity.createdBy %} by {{ entity.createdBy.fullName }}{% endif %}</div>
		</div>
	{% endspaceless %}
{% endmacro %}

{% macro row_updated(entity) %}
	{% spaceless %}
		<div class="row">
			<div class="col-sm-2">Updated</div>
			<div class="col-sm-10">{{ entity.updatedAt|user_datetime }}{% if entity.updatedBy %} by {{ entity.updatedBy.fullName }}{% endif %}</div>
		</div>
	{% endspaceless %}
{% endmacro %}