{% extends 'page.html.twig' %}

{% block title %}In Progress Order{% endblock %}

{% block header %}
	<h1>In Progress Order<br>
		<small><a href="{{ path('customer_show', { 'id': customerOrder.customer.id }) }}">{{ customerOrder.customer.fullName }}</a></small>
		<br>
		<small><a href="{{ phone_number_format(customerOrder.customer.phone,'RFC3966') }}">{{ phone_number_format(customerOrder.customer.phone) }}</a></small>
	</h1>
{% endblock %}

{% block main %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete':'off' }}) }}
	{{ form_widget(form) }}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" class="btn btn-default" value="Save">
			<input type="submit" class="btn btn-default" value="Complete" name="{{ constant('STATUS_COMPLETE',customerOrder) }}">
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List All Orders', path('customer_order_list_all')) }}
	{{ nav.item('List Customer Orders', path('customer_list_customer_orders', {'customer_id': customerOrder.customer.id})) }}
	{{ nav.end }}
{% endblock %}