{% extends 'page.html.twig' %}

{% import 'nav.html.twig' as nav %}

{% block title %}Invoice Order{% endblock %}

{% block header %}
	<h1>Invoice Order<br>
		<small><a href="{{ path('customer_show', { 'id': customerOrder.customer.id }) }}">{{ customerOrder.customer.fullName }}</a></small>
		<br>
		<small><a href="{{ customerOrder.customer.phone|phone_number_format('RFC3966') }}">{{ customerOrder.customer.phone|phone_number_format }}</a></small>
	</h1>
{% endblock %}

{% block main %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete':'off' }}) }}
	{{ form_widget(form) }}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<label style="font-weight: normal"><input type="checkbox" name="invoiceEmailCc"> CC Company</label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" class="btn btn-default" value="Save">
			<input type="submit" class="btn btn-default" value="Pay" name="{{ constant('STATUS_PAID',customerOrder) }}">
			<input type="submit" class="btn btn-default" value="Send Invoice" name="customerOrder.sendInvoice">
			<a class="btn btn-default" href="{{ path('customer_order_show_invoice', {'id': customerOrder.id}) }}" target="_blank">View Invoice</a>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List All Orders', path('customer_order_list_all')) }}
	{{ nav.item('List Customer Orders', path('customer_order_list_all_customer', { 'customer_id': customerOrder.customer.id })) }}
	{{ nav.end }}
{% endblock %}