{% extends 'base.html.twig' %}

{% block title %}Customer Orders{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			<h1>Customer Orders<br>
				<small>{{ customer.firstName }} {{ customer.lastName }}</small>
				<br>
				<small>{{ phone_number_format(customer.phone) }}</small>
			</h1>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>Status</th>
					<th>Company</th>
					<th>Referral</th>
					<th>Booked</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for customerOrder in customerOrders %}
					<tr>
						<td>{{ customerOrder.orderStatusCode }}</td>
						<td>{{ customerOrder.company.name }}</td>
						<td>{% if customerOrder.referral %}{{ customerOrder.referral.name }}{% endif %}</td>
						<td>{% if customerOrder.bookedFrom %}{{ customerOrder.bookedFrom|user_datetime }}{% endif %} to {% if customerOrder.bookedUntil %}{{ customerOrder.bookedUntil|user_datetime }}{% endif %}</td>
						<td>
							<ul class="nav nav-pills">
								<li>
									<a href="{{ path('showCustomerOrder', { 'id': customerOrder.id }) }}">show</a>
								</li>
								<li>
									<a href="{{ path('editCustomerOrder', { 'id': customerOrder.id }) }}">edit</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="{{ path('newCustomerOrderForCustomer', { 'customer_id': customer.id }) }}">New Customer Order</a>
			</li>
		</ul>
	</div>
{% endblock %}