{% extends 'base.html.twig' %}

{% import 'nav.html.twig' as nav %}

{% block title %}Orders{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			<h1>Orders</h1>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>{{ 'customerOrder.label.customer'|trans }}</th>
					<th>{{ 'customer.label.phone'|trans }}</th>
					<th>{{ 'customerOrder.label.status'|trans }}</th>
					<th>{{ 'customerOrder.label.company'|trans }}</th>
					<th>{{ 'customerOrder.label.orderType'|trans }}</th>
					<th>{{ 'customerOrder.label.referral'|trans }}</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for customerOrder in customerOrders %}
					<tr>
						<td>{{ customerOrder.customer.fullName }}</td>
						<td><a href="{{ customerOrder.customer.phone|phone_number_format('RFC3966') }}">{{ customerOrder.customer.phone|phone_number_format }}</a></td>
						<td>{{ customerOrder.status|trans }}</td>
						<td>{{ customerOrder.company.name }}</td>
						<td>{{ customerOrder.orderType.name }}</td>
						<td>{% if customerOrder.referral %}{{ customerOrder.referral.name }}{% endif %}</td>
						<td>{{ customerOrder.createdAt|user_datetime }}</td>
						<td>
							<ul class="nav nav-pills">
								<li>
									<a href="{{ path('show_customer_order', { 'id': customerOrder.id }) }}">show</a>
								</li>
								<li>
									<a href="{{ customer_order_path(customerOrder) }}">edit</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}