{% extends 'page.html.twig' %}

{% import 'nav.html.twig' as nav %}

{% block title %}New Inprogress Order{% endblock %}

{% block header %}
	<h1>New Inprogress Order<br>
		<small><a href="{{ path('customer_show', { 'id': customerOrder.customer.id }) }}">{{ customerOrder.customer.fullName }}</a></small>
		<br>
		<small><a href="{{ phone_number_format(customerOrder.customer.phone,'RFC3966') }}">{{ phone_number_format(customerOrder.customer.phone) }}</a></small>
	</h1>
{% endblock %}

{% block main %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete':'off' }}) }}
	{{ form_widget(form) }}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" class="btn btn-default" value="Save">
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List All Orders', path('customer_order_list_all')) }}
	{{ nav.item('List Customer Orders', path('customer_order_list_all_customer', { 'customer_id': customerOrder.customer.id })) }}
	{{ nav.end }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('.js-collection').collection({
			{#init_with_n_elements: 1,#}

			allow_duplicate: true,
			drag_drop: false, {# sortable #}
			drag_drop_options: {
				placeholder: 'ui-state-highlight'
			},
			add: '<ul class="col-sm-offset-2 col-sm-10 nav nav-pills nav-horizontal small"><li style="padding:0 0 15px 5px; "><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a></li></ul>'
		});
	</script>
{% endblock %}