{% extends 'base.html.twig' %}

{% block title %}Customer Order{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			<h1>Customer Order<br>
				<small>{{ customerOrder.customer.firstName }} {{ customerOrder.customer.lastName }}</small><br>
				<small>{{ phone_number_format(customerOrder.customer.phone) }}</small>
			</h1>
		</div>
		<div class="col-sm-9">
			<table class="table">
				<tbody>
				<tr>
					<th>Status</th>
					<td>{{ customerOrder.orderStatusCode }}</td>
				</tr>
				<tr>
					<th>Booked</th>
					<td>{% if customerOrder.bookedFor %}{{ customerOrder.bookedFor|user_date }}{% endif %}</td>
				</tr>
				<tr>
					<th>Started</th>
					<td>{% if customerOrder.startedOn %}{{ customerOrder.startedOn|user_date }}{% endif %}</td>
				</tr>
				<tr>
					<th>Finished</th>
					<td>{% if customerOrder.finishedOn %}{{ customerOrder.finishedOn|user_date }}{% endif %}</td>
				</tr>
				<tr>
					<th>Paid</th>
					<td>{% if customerOrder.paidOn %}{{ customerOrder.paidOn|user_date }}{% endif %}</td>
				</tr>
				<tr>
					<th>Details</th>
					<td>
						<div style="max-height: 95px; margin: 0" class="well well-sm pre-scrollable">{{ customerOrder.details|nl2br }}</div>
					</td>
				</tr>
				<tr>
					<th>Created</th>
					<td>{% if customerOrder.createdAt %}{{ customerOrder.createdAt|user_datetime }}{% endif %}</td>
				</tr>
				<tr>
					<th>Updated</th>
					<td>{% if customerOrder.updatedAt %}{{ customerOrder.updatedAt|user_datetime }}{% endif %}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="{{ path('listCustomerOrders') }}">Back to the list</a>
				</li>
				<li>
					<a href="{{ path('editCustomerOrder', { 'id': customerOrder.id }) }}">Edit</a>
				</li>
			</ul>
		</div>
	</div>

{% endblock %}