{% extends 'base.html.twig' %}

{% block title %}Customer Order{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			<h1>Customer Order<br>
				<small>{{ customerOrder.customer.firstName }} {{ customerOrder.customer.lastName }}</small>
				<br>
				<small>{{ phone_number_format(customerOrder.customer.phone) }}</small>
			</h1>
		</div>
		<div class="col-sm-9">
			<table class="table">
				<tbody>
				<tr>
					<th>Order Status</th>
					<td>{{ customerOrder.orderStatusCode }}</td>
				</tr>
				{% if customerOrder.referral %}
					<tr>
						<th>Referral</th>
						<td>{{ customerOrder.referral.name }}</td>
					</tr>
				{% endif %}
				<tr>
					<th>Booked</th>
					<td>{% if customerOrder.bookedFrom %}{{ customerOrder.bookedFrom|user_datetime }}{% endif %} to {% if customerOrder.bookedUntil %}{{ customerOrder.bookedUntil|user_datetime }}{% endif %}</td>
				</tr>
				<tr>
					<th>Booking Notes</th>
					<td>
						<div style="max-height: 95px; margin: 0" class="well well-sm pre-scrollable">{{ customerOrder.bookingNotes|nl2br }}</div>
					</td>
				</tr>
				<tr>
					<th>Created</th>
					<td>{{ customerOrder.createdAt|user_datetime }}{% if customerOrder.getCreatedBy %} by {{ customerOrder.getCreatedBy.fullName }}{% endif %}</td>
				</tr>
				<tr>
					<th>Updated</th>
					<td>{{ customerOrder.updatedAt|user_datetime }}{% if customerOrder.getUpdatedBy %} by {{ customerOrder.getUpdatedBy.fullName }}{% endif %}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="{{ path('listCustomerOrders') }}">List All Orders</a>
				</li>
				<li>
					<a href="{{ path('listCustomerOrdersByCustomer', {'customer_id': customerOrder.customer.id}) }}">List Customer Orders</a>
				</li>
				<li>
					<a href="{{ path('editCustomerOrder', { 'id': customerOrder.id }) }}">Edit Customer Order</a>
				</li>
				<li>
					<a href="{{ path('newCustomerOrderForCustomer', { 'customer_id': customerOrder.id }) }}">New Customer Order</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}