{% extends 'page.html.twig' %}

{% import 'nav.html.twig' as nav %}
{% import 'table.html.twig' as table %}

{% block title %}Order{% endblock %}

{% block header %}
	<h1>Order<br>
		<small><a href="{{ path('customer_show', { 'id': customerOrder.customer.id }) }}">{{ customerOrder.customer.fullName }}</a></small>
		<br>
		<small><a href="{{ customerOrder.customer.phone|phone_number_format }}">{{ customerOrder.customer.phone|phone_number_format }}</a></small>
	</h1>
{% endblock %}

{% block main %}
	{{ table.start }}

	{{ table.row_title(customerOrder.status) }}

	{{ table.row('customerOrder.label.company', customerOrder.company.name) }}

	{{ table.row('customerOrder.label.orderType', customerOrder.orderType.name) }}

	{% if customerOrder.referral %}
		{{ table.row('customerOrder.label.referral', customerOrder.referral.name) }}
	{% endif %}

	{% if customerOrder.bookedFrom %}{{ table.row_user_datetime('customerOrder.label.bookedFrom', customerOrder.bookedFrom) }}{% endif %}

	{% if customerOrder.bookedUntil %}{{ table.row_user_datetime('customerOrder.label.bookedUntil', customerOrder.bookedUntil) }}{% endif %}

	{% if customerOrder.bookingNotes %}{{ table.row_scrollable('customerOrder.label.bookingNotes', customerOrder.bookingNotes) }}{% endif %}

	{% if customerOrder.progressStartedAt %}{{ table.row_user_datetime('customerOrder.label.progressStartedAt', customerOrder.progressStartedAt) }}{% endif %}

	{% if customerOrder.progressEstimatedCompletionAt %}{{ table.row_user_datetime('customerOrder.label.progressEstimatedCompletionAt', customerOrder.progressEstimatedCompletionAt) }}{% endif %}

	{% if customerOrder.progressNotes %}{{ table.row_scrollable('customerOrder.label.progressNotes', customerOrder.progressNotes) }}{% endif %}

	{% if customerOrder.completedAt %}{{ table.row_user_datetime('customerOrder.label.completedAt', customerOrder.completedAt) }}{% endif %}

	{% if customerOrder.completionNotes %}{{ table.row_scrollable('customerOrder.label.completionNotes', customerOrder.completionNotes) }}{% endif %}

	{% if customerOrder.invoicedAt %}{{ table.row_user_datetime('customerOrder.label.invoicedAt', customerOrder.invoicedAt) }}{% endif %}

	{% if customerOrder.invoiceSubtotal %}{{ table.row_user_money('customerOrder.label.invoiceSubtotal', customerOrder.invoiceSubtotal) }}{% endif %}

	{% for cutomerOrderTaxRateAmounts in customerOrder.customerOrderTaxRateAmounts %}
		{% if customerOrder.invoiceSubtotal %}{{ table.row_user_money(cutomerOrderTaxRateAmounts.taxRateAmount.rate.name, cutomerOrderTaxRateAmounts.taxes) }}{% endif %}
	{% endfor %}

	{% if customerOrder.invoiceTotal %}{{ table.row_user_money('customerOrder.label.invoiceTotal', customerOrder.invoiceTotal) }}{% endif %}

	{% if customerOrder.invoiceNotes %}{{ table.row_scrollable('customerOrder.label.invoiceNotes', customerOrder.invoiceNotes) }}{% endif %}

	{% if customerOrder.paidAt %}{{ table.row_user_datetime('customerOrder.label.paidAt', customerOrder.paidAt) }}{% endif %}

	{% if customerOrder.payment %}{{ table.row_user_money('customerOrder.label.payment', customerOrder.payment) }}{% endif %}

	{% if customerOrder.paymentNotes %}{{ table.row_scrollable('customerOrder.label.paymentNotes', customerOrder.paymentNotes) }}{% endif %}

	{% if customerOrder.cancelledAt %}{{ table.row_user_datetime('customerOrder.label.cancelledAt', customerOrder.cancelledAt) }}{% endif %}

	{% if customerOrder.cancellationNotes %}{{ table.row_scrollable('customerOrder.label.cancellationNotes', customerOrder.cancellationNotes) }}{% endif %}

	{{ table.row_created(customerOrder) }}

	{{ table.row_updated(customerOrder) }}

	{{ table.end }}

	{% if not customerOrder.customerOrderServices.empty %}
		{{ table.start }}
		{{ table.row_title('customerOrder.label.services') }}
		{% for customerOrderService in customerOrder.customerOrderServices %}
			{{ table.row('customerOrderService.label.service', customerOrderService.service.name) }}
			{{ table.row('customerOrderProduct.label.invoiceAmount', customerOrderService.quantity ~ ' × ' ~ customerOrderService.invoiceAmount|user_money ) }}
			{% if customerOrderService.comments %}{{ table.row('customerOrderService.label.comments', customerOrderService.comments) }}{% endif %}
			{% if not loop.last %}
				{{ table.row_spacer() }}
			{% endif %}
		{% endfor %}
		{{ table.end }}
	{% endif %}

	{% if not customerOrder.customerOrderProducts.empty %}
		{{ table.start }}
		{{ table.row_title('customerOrder.label.products') }}
		{% for customerOrderProduct in customerOrder.customerOrderProducts %}
			{{ table.row('customerOrderProduct.label.product', customerOrderProduct.product.name) }}
			{{ table.row('customerOrderProduct.label.invoiceAmount', customerOrderProduct.quantity ~ ' × ' ~ customerOrderProduct.invoiceAmount|user_money ) }}
			{% if customerOrderProduct.comments %}{{ table.row('customerOrderProduct.label.comments', customerOrderProduct.comments) }}{% endif %}
			{% if not loop.last %}
				{{ table.row_spacer() }}
			{% endif %}
		{% endfor %}
		{{ table.end }}
	{% endif %}

	{% if not customerOrder.customerOrderStatusHistories.empty %}
		{{ table.start }}
		{{ table.row_title('History') }}
		{% for customerOrderStatusHistory in customerOrder.customerOrderStatusHistories %}
			{{ table.row_created(customerOrderStatusHistory, customerOrderStatusHistory.newStatus) }}
		{% endfor %}
		{{ table.end }}
	{% endif %}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}

	{{ nav.item('List All Orders', path('customer_order_list_all')) }}

	{{ nav.item('List Customer Orders', path('customer_order_list_all_customer', { 'customer_id': customerOrder.customer.id })) }}

	{{ nav.item('Edit Customer Order', customer_order_path(customerOrder)) }}

	{% if customerOrder.completedAt %}
		{{ nav.item('View Invoice', path('customer_order_show_invoice', { 'id': customerOrder.id }), {'target': '_blank'}) }}
	{% endif %}

	{{ nav.end }}
{% endblock %}

