{% extends 'page.html.twig' %}

{% block title %}Order{% endblock %}

{% block header %}
	<h1>Order<br>
		<small><a href="{{ path('customer_show', { 'id': customerOrder.customer.id }) }}">{{ customerOrder.customer.fullName }}</a></small>
		<br>
		<small><a href="{{ phone_number_format(customerOrder.customer.phone,'RFC3966') }}">{{ phone_number_format(customerOrder.customer.phone) }}</a></small>
	</h1>
{% endblock %}

{% block main %}
	{{ table.start }}

	{{ table.row_title(customerOrder.status) }}

	{{ table.row('customerOrder.label.company', customerOrder.company.name) }}

	{% if customerOrder.referral %}
		{{ table.row('customerOrder.label.referral', customerOrder.referral.name) }}
	{% endif %}

	{{ table.row_user_datetime('customerOrder.label.bookedFrom', customerOrder.bookedFrom) }}

	{{ table.row_user_datetime('customerOrder.label.bookedUntil', customerOrder.bookedUntil) }}

	{{ table.row_scrollable('customerOrder.label.bookingNotes', customerOrder.bookingNotes) }}

	{{ table.row_created(customerOrder) }}

	{{ table.row_updated(customerOrder) }}

	{{ table.end }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}

	{{ nav.item('List All Orders', path('customer_order_list_all')) }}

	{{ nav.item('List Customer Orders', path('newCustomerOrderForCustomer', { 'customer_id': customerOrder.customer.id })) }}

	{{ nav.item('New Order', path('newCustomerOrderForCustomer', { 'customer_id': customerOrder.customer.id })) }}

	{{ nav.end }}
{% endblock %}


	{#
	 <a href="{{ path('listCustomerOrdersByCustomer', {'customer_id': customerOrder.customer.id}) }}">List Customer Orders</a> #}

