{% extends 'page.html.twig' %}

{% import 'nav.html.twig' as nav %}
{% import 'table.html.twig' as table %}

{% block title %}Company{% endblock %}

{% block header %}<h1>Company</h1>{% endblock %}

{% block main %}

	{{ table.start }}

	{{ table.row('company.label.name', company.name) }}

	{{ table.row_phone('company.label.phone', company.phone) }}

	{{ table.row_phone('company.label.altPhone', company.altPhone) }}

	{{ table.row_email('company.label.email', company.email) }}

	{{ table.row_url('company.label.websiteUrl', company.websiteUrl) }}

	{{ table.row_url('company.label.facebookUrl', company.facebookUrl) }}

	{{ table.row_created(company) }}

	{{ table.row_updated(company) }}

	{{ table.end }}


	{{ table.start }}

	{{ table.row_title('company.label.address') }}

	{{ table.row('address.label.countryCode', company.address|country) }}

	{{ table.row('address.label.administrativeArea', company.address|administrative_area) }}

	{{ table.row('address.label.locality', company.address.locality) }}

	{{ table.row('address.label.postalCode', company.address.postalCode) }}

	{{ table.row('address.label.addressLine1', company.address.addressLine1) }}

	{{ table.row('address.label.addressLine2', company.address.addressLine2) }}

	{{ table.row_created(company.address) }}

	{{ table.row_updated(company.address) }}

	{{ table.end }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List Companies', path('company_index')) }}
	{{ nav.item('Edit Company', path('company_edit', { 'id': company.id })) }}
	{{ nav.item('New Company', path('company_new')) }}
	{{ nav.end }}
{% endblock %}
