{% extends 'page.html.twig' %}

{% block title %}Company{% endblock %}

{% block header %}<h1>Company</h1>{% endblock %}

{% block main %}

	{{ table.start }}

	{{ table.row('company.label.name', company.name) }}

	{{ table.row_phone('company.label.phone', company.phone) }}

	{{ table.row_phone('company.label.altPhone', company.altPhone) }}

	{{ table.row_email('company.label.email', company.email) }}

	{{ table.row_url('company.label.websiteUrl', company.websiteUrl) }}

	{{ table.row_url('company.label.facebookUrl', company.facebookUrl) }}

	{{ table.row_created(company) }}

	{{ table.row_updated(company) }}

	{{ table.end }}


	{{ table.start }}

	{{ table.row_title('company.label.address') }}

	{{ table.row('address.label.line1', company.address.line1) }}

	{{ table.row('address.label.line2', company.address.line2) }}

	{{ table.row('address.label.line3', company.address.line3) }}

	{{ table.row('address.label.city', company.address.city) }}

	{{ table.row('address.label.zipOrPostalcode', company.address.zipOrPostalcode) }}

	{{ table.row('address.label.stateOrProvince', company.address.stateOrProvince|stateProvince) }}

	{{ table.row('address.label.country', company.address.country|country) }}

	{{ table.row_created(company.address) }}

	{{ table.row_updated(company.address) }}

	{{ table.end }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List Companies', path('company_index')) }}
	{{ nav.item('Edit Company', path('company_edit', { 'id': company.id })) }}
	{{ nav.item('New Company', path('company_new')) }}
	{{ nav.end }}
{% endblock %}
