{% form_theme form _self %}

	{% block collection_widget %}
		{% spaceless %}
			<div {{ block('widget_container_attributes') }}>
				{{ block('collection_rows') }}
				{{ form_rest(form) }}
			</div>
		{% endspaceless %}
	{% endblock collection_widget %}

	{% block collection_rows %}
		{% spaceless %}
			{{ form_errors(form) }}
			{% for child in form %}
				{{ form_row(child, {'attr':{'class':'collection-item' }}) }}
			{% endfor %}
		{% endspaceless %}
	{% endblock collection_rows %}


-----------------
{% form_theme form _self %}

{% block form_widget_compound %}
	{% spaceless %}
		<div class="MYCLASS" >
			{{ block('widget_container_attributes') }}>
			{% if form.parent is empty %}
				{{ form_errors(form) }}
			{% endif %}
			{{ block('form_rows') }}
			{{ form_rest(form) }}
		</div>
	{% endspaceless %}
{% endblock form_widget_compound %}

----------------------------

{% form_theme form _self %}

				{% block collection_widget %}
					{% spaceless %}
						Services

						{% for rows in form %}

							{% for children in rows %}

								{% for child in children %}



									{{ form_row(child.) }}

								{% endfor %}

							{% endfor %}
						{% endfor %}

					{% endspaceless %}
				{% endblock collection_widget %}




{% for child in children %}

	{{ dump(child) }}
	{{ form_row(child) }}
{% endfor %}

-----------------------


{% block customer_order_service_widget %}
	<div class="input-group date js-datetimepicker">
		{{- form_widget(form, { 'attr': {'placeholder': 'MM/DD/YYYY hh:mm a'} }) -}}{# 'class': 'js-datetimepicker' #}
		<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
					</span>
	</div>
{% endblock %}