{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}

	<div class="container">

		<div class="page-header">
			<h1>Services</h1>
		</div>

		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for service in services %}
					<tr>
						<td>{{ service.name }}</td>
						<td>{{ service.description }}</td>
						<td>
							<ul class="nav nav-pills">
								<li>
									<a href="{{ path('service_show', { 'id': service.id }) }}">show</a>
								</li>
								<li>
									<a href="{{ path('service_edit', { 'id': service.id }) }}">edit</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="{{ path('service_new') }}">New Service</a>
			</li>
		</ul>
	</div>
{% endblock %}