{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}

	<div class="container">
		<div class="page-header">
			<h1>Service</h1>
		</div>
		<div class="col-sm-9">
			<div class="table">
				<div class="row">
					<div class="col-sm-2">Name</div>
					<div class="col-sm-10">{{ service.name }}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">Description</div>
					<div class="col-sm-10">{{ service.description }}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">Created</div>
					<div class="col-sm-10">{{ service.createdAt|user_datetime }}{% if service.createdBy %} by {{ service.createdBy.fullName }}{% endif %}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">Updated</div>
					<div class="col-sm-10">{{ service.updatedAt|user_datetime }}{% if service.updatedBy %} by {{ service.updatedBy.fullName }}{% endif %}</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="{{ path('service_index') }}">List Services</a>
				</li>
				<li>
					<a href="{{ path('service_edit', { 'id': service.id }) }}">Edit Service</a>
				</li>
				<li>
					<a href="{{ path('service_new', { 'id': service.id }) }}">New Service</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

