{% extends 'page.html.twig' %}

{% import 'nav.html.twig' as nav %}
{% import 'table.html.twig' as table %}

{% block title %}Service{% endblock %}

{% block header %}<h1>Service</h1>{% endblock %}

{% block main %}

	{% import table as table %}

	{{ table.start }}
	{{ table.row('service.label.name', service.name) }}
	{{ table.row('service.label.description', service.description) }}
	{{ table.row_created(service) }}
	{{ table.row_updated(service) }}
	{{ table.end }}

	{{ table.start }}
	{{ table.row_title('service.label.servicePrices') }}
	{% for servicePrice in service.servicePrices %}
		{{ table.row_user_money('servicePrice.label.price', servicePrice.price) }}
		{{ table.row_user_date('servicePrice.label.effectiveFrom', servicePrice.effectiveFrom) }}
		{{ table.row_created(servicePrice) }}
		{% if not loop.last %}
			{{ table.row_spacer() }}
		{% endif %}
	{% endfor %}
	{{ table.end }}

{% endblock %}

{% block complimentary %}

	{% import nav as nav %}

	{{ nav.start }}
	{{ nav.item('List Services', path('service_index')) }}
	{{ nav.item('Edit Service', path('service_edit', { 'id': service.id })) }}
	{{ nav.item('New Service', path('service_new')) }}
	{{ nav.end }}
{% endblock %}


