{% extends 'base.html.twig' %}

{% import 'nav.html.twig' as nav %}

{% block title %}Customers{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			<h1>Customers</h1>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Alt Phone</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for customer in customers %}
					<tr>
						<td>{{ customer.fullName }}</td>
						<td><a href="{{ customer.phone|phone_number_format('RFC3966') }}">{{ customer.phone|phone_number_format }}</a></td>
						<td>{% if customer.altPhone %}<a href="{{ customer.altPhone|phone_number_format('RFC3966') }}">{{ customer.altPhone|phone_number_format }}</a>{% endif %}</td>
						<td>{{ customer.createdAt|user_datetime }}</td>
						<td>
							<ul class="nav nav-pills">
								<li>
									<a href="{{ path('customer_show', { 'id': customer.id }) }}">show</a>
								</li>
								<li>
									<a href="{{ path('customer_edit', { 'id': customer.id }) }}">edit</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="{{ path('customer_new') }}">New Customer</a>
			</li>
		</ul>
	</div>
{% endblock %}