{% extends 'page.html.twig' %}

{% block title %}Customer{% endblock %}

{% block header %}<h1>Customer</h1>{% endblock %}

{% block main %}
	{{ table.start }}
	{{ table.row('customer.label.name', customer.fullName) }}

	{{ table.row_phone('customer.label.phone', customer.phone) }}

	{{ table.row_phone('customer.label.altPhone', customer.altPhone) }}

	{{ table.row_email('customer.label.email', customer.email) }}

	{{ table.row('address.label.line1', customer.address.line1) }}

	{{ table.row('address.label.line2', customer.address.line2) }}

	{{ table.row('address.label.line3', customer.address.line3) }}

	{{ table.row('address.label.city', customer.address.city) }}

	{{ table.row('address.label.zipOrPostalcode', customer.address.zipOrPostalcode) }}

	{{ table.row('address.label.stateOrProvince', customer.address.stateOrProvince|stateProvince) }}

	{{ table.row('address.label.country', customer.address.country|country) }}

	{{ table.row_created(customer) }}
	{{ table.row_updated(customer) }}
	{{ table.end }}
{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List Companies', path('customer_index')) }}
	{{ nav.item('Edit Customer', path('customer_edit', { 'id': customer.id })) }}
	{{ nav.item('New Customer', path('customer_new')) }}
	{{ nav.item('List Customer Orders', path('listCustomerOrdersByCustomer', { 'customer_id': customer.id })) }}
	{{ nav.item('New Customer Order', path('newCustomerOrderForCustomer', { 'customer_id': customer.id })) }}
	{{ nav.end }}
{% endblock %}