{% extends 'page.html.twig' %}

{% import 'nav.html.twig' as nav %}
{% import 'table.html.twig' as table %}

{% block title %}Customer{% endblock %}

{% block header %}<h1>Customer</h1>{% endblock %}

{% block main %}
	{{ table.start }}

	{{ table.row('customer.label.name', customer.fullName) }}

	{{ table.row_phone('customer.label.phone', customer.phone) }}

	{{ table.row_phone('customer.label.altPhone', customer.altPhone) }}

	{{ table.row_email('customer.label.email', customer.email) }}

	{{ table.row_created(customer) }}

	{{ table.row_updated(customer) }}

	{{ table.end }}


	{{ table.start }}

	{{ table.row_title('customer.label.homeAddress') }}

	{{ table.row('address.label.countryCode', customer.address.countryCode|country) }}

	{{ table.row('address.label.administrativeArea', customer.address.administrativeArea|administrative_area) }}

	{{ table.row('address.label.locality', customer.address.locality) }}

	{{ table.row('address.label.postalCode', customer.address.postalCode) }}

	{{ table.row('address.label.addressLine1', customer.address.addressLine1) }}

	{{ table.row('address.label.addressLine2', customer.address.addressLine2) }}

	{{ table.row_created(customer.address) }}

	{{ table.row_updated(customer.address) }}

	{{ table.end }}

{% endblock %}

{% block complimentary %}
	{{ nav.start }}
	{{ nav.item('List Customers', path('customer_index')) }}
	{{ nav.item('Edit Customer', path('customer_edit', { 'id': customer.id })) }}
	{{ nav.item('New Customer', path('customer_new')) }}
	<hr>
	{{ nav.item('List Orders', path('customer_order_list_all_customer', { 'customer_id': customer.id })) }}
	{{ nav.item('New Booked Order', path('customer_order_new_booked', { 'customer_id': customer.id })) }}
	{{ nav.item('New In Progress Order', path('customer_order_new_inprogress', { 'customer_id': customer.id })) }}
	{{ nav.item('New Complete Order', path('customer_order_new_complete', { 'customer_id': customer.id })) }}
	{{ nav.end }}
{% endblock %}