{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
	{% include '::nav.html.twig' %}
	<div class="container">
		<div class="page-header">
			<h1>Customer</h1>
		</div>
		<div class="col-sm-10">
			<div class="table">
				<div class="row">
					<div class="col-sm-2">Name</div>
					<div class="col-sm-10">{{ customer.firstName }} {{ customer.lastName }}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'customer.label.phone'|trans }}</div>
					<div class="col-sm-10"><a href="{{ phone_number_format(customer.phone,'RFC3966') }}">{{ phone_number_format(customer.phone) }}</a></div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'customer.label.altPhone'|trans }}</div>
					<div class="col-sm-10">{% if customer.altPhone %}<a href="{{ phone_number_format(customer.altPhone,'RFC3966') }}">{{ phone_number_format(customer.altPhone) }}</a>{% endif %}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'customer.label.email'|trans }}</div>
					<div class="col-sm-10">{% if customer.email %}<a href="mailto:{{ customer.email }}">{{ customer.email }}</a>{% endif %}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'address.label.line1'|trans }}</div>
					<div class="col-sm-10">{{ customer.address.line1 }}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'address.label.line2'|trans }}</div>
					<div class="col-sm-10">{{ customer.address.line2 }}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'address.label.line3'|trans }}</div>
					<div class="col-sm-10">{{ customer.address.line3 }}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'address.label.city'|trans }}</div>
					<div class="col-sm-10">{{ customer.address.city}}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'address.label.zipOrPostalcode'|trans }}</div>
					<div class="col-sm-10">{{ customer.address.zipOrPostalcode}}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'address.label.stateOrProvince'|trans }}</div>
					<div class="col-sm-10">{{ customer.address.stateOrProvince|stateProvince}}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">{{ 'address.label.country'|trans }}</div>
					<div class="col-sm-10">{{ customer.address.country|country}}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">Created</div>
					<div class="col-sm-10">{{ customer.createdAt|user_datetime }}{% if customer.createdBy %} by {{ customer.createdBy.fullName }}{% endif %}</div>
				</div>

				<div class="row">
					<div class="col-sm-2">Updated</div>
					<div class="col-sm-10">{{ customer.updatedAt|user_datetime }}{% if customer.updatedBy %} by {{ customer.updatedBy.fullName }}{% endif %}</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="{{ path('customer_index') }}">List Customers</a>
				</li>
				<li>
					<a href="{{ path('customer_edit', { 'id': customer.id }) }}">Edit Customer</a>
				</li>
				<li>
					<a href="{{ path('listCustomerOrdersByCustomer', { 'customer_id': customer.id }) }}">List Customer Orders</a>
				</li>
				<li>
					<a href="{{ path('newCustomerOrderForCustomer', { 'customer_id': customer.id }) }}">New Customer Order</a>
				</li>

			</ul>
		</div>
	</div>
{% endblock %}